
importFrom("graphics", "abline", "matplot", "plot")
importFrom("stats", "binomial", "coef", "cor", "cov", "glm", "lm",
             "loglin", "na.omit", "predict", "rbinom",
             "var")

export(rvinit,makebranch0,loadb,saveb,runb,pause,t.test.rv,edt,lcc,nxt,go,coef.rv,getexample)

